{%extends 'base.html' %}
{% load static %}
{%  block title %} UPLOAD YOUR PHOTO {% endblock %}
{%block content%}
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
            <div class="form-group">
              <label for="photoupload">Example file input</label>
              <input type="file" name='photoupload' class="form-control-file mb-3" id="photoupload">
              
              
              <!-- <div><img src="{% static 'images/123.jpg'%}"}></div> -->
              

              <button type="submit" id="photoupload"class="btn btn-primary">Submit</button>
            </div>
        </form>
        {% endblock %}
